# General
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

# IntelliJ / JetBrains
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Environment Variables
.env
.env.*
!.env.example

# Gradle / Java
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Temp
tmp/
