spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  cloud:
    aws:
      region:
        static: ap-northeast-2
      s3:
        bucket: ${AWS_S3_BUCKET}

logging:
  level:
    io.itmca.aivideogenerator: INFO
    org.springframework.web: WARN